@mixin product-paragraph {
    font-family: $merriweather;
    font-size: 36px;
    color: #D8A196;
    letter-spacing: 2.59px;
}
@mixin container-center-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}

@mixin product-shop-now {
  font-family: $oswald;
font-size: 34px;
color: rgba(0,0,0,0.52);
letter-spacing: 2.45px;
}

@mixin product-made-in {
font-family: PetitFormalScript-Regular;
font-size: 25px;
color: rgba(0,0,0,0.52);
letter-spacing: 1.8px;
}

@mixin main-page-box-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}
