<!-- //navbar needs to go here with ui-sref to each different page
//specificProduct will be what you bind to.

//specificProduct.description
//specificProduct.image_one
//specificProduct. -->
  <body>
    <navbar-directive></navbar-directive>
    <div class="row home">
    <div class="col-xs-12 col-sm-6 col-md-8 flex-container"><img class = "cammeo-styling" src = "../../assets/images/new_york_skyscrapers.png"/></div>
      <img class = "title" src = "../../assets/images/italian.png"/>
    <div class="col-xs-6 col-md-4"><img class = "stasera" src = "../../assets/images/homepage_maryJane.png"/></div>
  </div>


  <div class = "row">
    <div class = "col-md-4 p-container">
      <h><img class = "title-image" src = "../../assets/images/before_they_go.png"/></h>
      <p>
        Our handcrafted, limited edition women’s shoes sell out quickly. When a style is almost gone, we put them here so you can easily claim what you love.
      </p>
      <img class = "main-img" src = "../../assets/images/homepage_tons.png"/>
    </div>
    <div class = "col-md-4 p-container">
      <img class = "main-img" src = "../../assets/images/homepage_felize.png" />
      <h><img class = "title-image-second" src = "../../assets/images/superior.png" /></h>
      <p>
        We honor the art of making something by hand, and the quality that can only be achieved in this way.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8"><img src = "../../assets/images/home_stoneRoad.png" /></div>
    <div class="col-xs-6 col-md-4 p-container">
      <img class = "title-image" src = "../../assets/images/welcome_to.png" />
      <p>
        Postluxury embraces the best of luxury while presenting a modern approach to pricing and access.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 p-container">
      <h><img class = "title-image" src = "../../assets/images/start_the_week.png"/></h>
      <p>
        Mondays mean new shoes. Each week we present new offerings from our family-owned specialist factories all over Italy, impeccably made flats, pumps, sneakers and beyond, all at postluxury prices.
      </p>
      <button>Shop the edition</button>

    </div>
    <div class="col-xs-12 col-md-6"></div>
    <img class = "main-img" src = "../../assets/images/home_metallic.png"/>
    <h2>New this week</h2>
    <h3>A shimmery spin on the loafer</h3>
  </div>

  <div class="row">
    <div class="col-md-6">
        <img src = "../../assets/images/home_bottom_laceup.png"/>
        <h1>WE BRING ATTENTION TO EVERY PAIR</h1>
    </div>
    <div class="col-md-6">
      <img src = "../../assets/images/home_multiple_shoes.png" />
      <a ui-sref = "products"><button>Discover</button></a>
    </div>

  </div>




  </body>
